.example-small-box, .example-large-box {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    /*border-radius: 8px;*/
}

.example-small-box {
    height: 100px;
    width: 100px;
}

.example-large-box {
    width: 50%;
}
button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.tabs{
    display: flex;
}

.image-container {
    /*width: 300px;*/
    max-height: 300px;
    overflow: hidden;
    border-radius: 100px;
    margin-top: 20px;
    margin-right: 20px;
}
.image-small-container {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
    border-radius: 20px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.red-container{
    background: #dc3545;
}
.blue-container{
    background: #007BFF;
}
.green-container{
    background: #28a745;
}
.yellow-container{
    background: #ffc107;
}
.pink-container{
    background: #f676a9;
}
.red-container, .blue-container, .green-container, .yellow-container, .pink-container{
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    padding: 5px;
    border: 2px solid #ADD8E6;
    font-weight: bold;
    text-align: center;
    color: antiquewhite;
    cursor: pointer;
}
.red-container:hover, .blue-container:hover, .green-container:hover, .yellow-container:hover,
    .pink-container:hover
{
    color: darkblue;
}
.content{
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Apply a subtle box shadow */
    background-color: #efefef; /* Set grey background color */
    color: #2c3e50; /* Set text color */
}
.nutri-table{
    max-width: 100%;
    height: 200px;
    overflow: auto;
}

td.mat-column-star {
    width: 20px;
    padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
}
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}
.bottomButton {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    float: right;
}
.bg{
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}
.subtitle{
    display: flex;
}
.invisible{
    visibility: hidden;
    float: right;
}
.title{
    line-height: 1.5;
    width: 50%;
}
.header{
    display: flex;
}
.custom-label{
    font-size: 100px; /* Adjust the font size as needed */
}
