<div class="container">
<app-navbar></app-navbar>
<app-poster></app-poster>
    <div class="title">
        <h2 class="center">
            Explore Now!
        </h2>
        <input class="colorPicker" [style.background]="color"
               [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
               [(colorPicker)]="color"/>
        <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select (selectionChange)="changeShape($event.value)">
                <mat-option value="square">Option 1</mat-option>
                <mat-option value="circle">Option 2</mat-option>
                <mat-option value="triangle">Option 3</mat-option>
                <mat-option value="squircle">Option 4</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="image-container">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/800px-Good_Food_Display_-_NCI_Visuals_Online.jpg" [ngClass]="shapeClass">
        </div>
    </div>
    <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let item of dataSource">
            <mat-card  class="box-background" [style.background-color]="color">
                <mat-card-header>
                    <mat-card-title><b>{{item.name}}</b></mat-card-title>
                    <mat-card-subtitle>{{transform(item.dishTypes)}}</mat-card-subtitle>
                </mat-card-header>
                <img [ngClass]="shapeClass" mat-card-image class="img" src="{{item.image}}" alt="" class="center" (click)="openDialog(item)">
                <mat-card-actions class="center">
                    <div *ngIf="(isLoggedIn$ | async) == true; else loading">
                        <button mat-button (click)="checkLike(item.id)">LIKE</button>
                        <button mat-button>PLAN</button>
                        <button mat-button>COMMENT</button>
                    </div>
                    <ng-template #loading>
                        <button [disabled]="true" mat-button>LIKE</button>
                        <button [disabled]="true" mat-button>PLAN</button>
                        <button [disabled]="true" mat-button>COMMENT</button>
                    </ng-template>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
<app-footer></app-footer>
</div>
