<app-navbar></app-navbar>
<app-poster></app-poster>
<h2 class="center">
    Explore Now
</h2>
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile *ngFor="let item of dataSource">
    <mat-card>
      <img mat-card-image class="img" src="{{item.imageUrl}}" alt="">
        <mat-card-header>
            <mat-card-title>Food</mat-card-title>
            <mat-card-subtitle>Breakfast</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile *ngFor="let item of dataSource">
    <mat-card>
      <img mat-card-image class="img" src="{{item.imageUrl}}" alt="">
        <mat-card-header>
            <mat-card-title>Food</mat-card-title>
            <mat-card-subtitle>Lunch</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
  </mat-grid-tile>
    <mat-grid-tile *ngFor="let item of dataSource">
        <mat-card>
            <img mat-card-image class="img" src="{{item.imageUrl}}" alt="">
            <mat-card-header>
                <mat-card-title>Food</mat-card-title>
                <mat-card-subtitle>Lunch</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let item of dataSource">
        <mat-card>
            <img mat-card-image class="img" src="{{item.imageUrl}}" alt="">
            <mat-card-header>
                <mat-card-title>Food</mat-card-title>
                <mat-card-subtitle>Lunch</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let item of dataSource">
        <mat-card>
            <img mat-card-image class="img" src="{{item.imageUrl}}" alt="">
            <mat-card-header>
                <mat-card-title>Food</mat-card-title>
                <mat-card-subtitle>Lunch</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<app-footer></app-footer>
