<div class="container">
<app-navbar></app-navbar>
<app-poster></app-poster>
    <h2 class="center">
        Explore Now!
    </h2>
    <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let item of dataSource">
            <mat-card  class="box-background">
                <mat-card-header>
                    <mat-card-title><b>{{item.name}}</b></mat-card-title>
                    <mat-card-subtitle>{{transform(item.dishTypes)}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="img" src="{{item.image}}" alt="" class="center" (click)="openDialog(item)">
                <mat-card-actions class="center">
                    <div *ngIf="(isLoggedIn$ | async) == true; else loading">
                        <button mat-button (click)="checkLike(item.id)">LIKE</button>
                        <button mat-button>PLAN</button>
                        <button mat-button>COMMENT</button>
                    </div>
                    <ng-template #loading>
                        <button [disabled]="true" mat-button>LIKE</button>
                        <button [disabled]="true" mat-button>PLAN</button>
                        <button [disabled]="true" mat-button>COMMENT</button>
                    </ng-template>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
<app-footer></app-footer>
</div>
