.img{
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
mat-grid-tile{
    margin: 2px;
}
.center{
  text-align: center;
}
.box-background{
    width: 90%;
    height: 95%;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
.container{
    background: #e0e0e0;
}
