<mat-toolbar class="header" color="primary">
  <a [routerLink]="'/home'">
      <img src="/assets/icon.png" alt="Icon" class="navbar-icon">
  </a>
  <span class="side"></span>
  <ng-container>
    <span [routerLink]="'/home'" class="side-right">Home</span>
    <span [routerLink]="'/recipe'" class="side-right">Recipe</span>
    <span [routerLink]="'/plan'" class="side-right">Plan</span>
    <span [routerLink]="'/account'" class="side-right">Log In</span>
    <mat-icon>search</mat-icon>
  </ng-container>
</mat-toolbar>

