<mat-toolbar class="header" color="primary">
  <a [routerLink]="'/home'">
      <img src="/assets/icon.png" alt="Icon" class="navbar-icon">
  </a>
  <span class="side"></span>
  <ng-container>
    <span [routerLink]="'/home'" class="side-right">Home</span>
    <span [routerLink]="'/recipe'" class="side-right">Recipe</span>
    <span (click)="openBottomSheet()" [routerLink]="'/plan'" class="side-right">Plan</span>
    <span (click)="openBottomSheet()" [routerLink]="'/grocery-list'" class="side-right">Grocery List</span>
    <div *ngIf="!(isLoggedIn$ | async); else menuOption">
        <span [routerLink]="'/account'" class="side-right">Log In</span>
    </div>
      <ng-template #menuOption>
          <button mat-flat-button color='primary' [matMenuTriggerFor]="users">Welcome {{(user$ | async)?.name}}</button>
          <mat-menu #users="matMenu">
              <button mat-menu-item (click)="redirectToUserPage()">My Account</button>
              <button mat-menu-item (click)="logout()">Sign Out</button>
          </mat-menu>
      </ng-template>
  </ng-container>
</mat-toolbar>

