/* Form Container */
form {
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Form Title */
form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Form Group */
form div {
    margin-bottom: 15px;
}

/* Form Label */
form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

/* Form Input */
form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    border-color: #007bff;
    outline: none;
}

/* Form Buttons */
form button[type="button"],
form button[type="submit"] {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="button"]:hover,
form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Dynamic Field Container */
.dynamic-field-container {
    margin-bottom: 15px;
}

.dynamic-field-container input {
    margin-bottom: 10px;
}

.dynamic-field-container button {
    margin-left: 10px;
}
.disabled {
    pointer-events: none; /* Disables all pointer events (clicks, hovers, etc.) */
    opacity: 0.5; /* Makes the div look disabled */
}
