<div class="whats-new-poster">
    <h2>What's New?</h2>
    <div class="container">
        <img class="poster" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHB2aHpsd3U3d2R1cDhhaTVlMXBuNjhpcW9kMDl5cmtiYXJqZ3QzdCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/uIhlRwNxVVvVV2892C/giphy.gif" alt="">
        <img class="poster" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbW50bDkxNmxsZDBvcWVpdHY2dzc5cGpxcnNpdHdlMXNsdDZ1ZnYyOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/STmold2zrhCaQ/giphy.gif" alt="">
        <img class="poster" src="https://media.giphy.com/media/xT1Ra0hwwRbRoAfUYg/giphy.gif" alt="">
        <img class="poster" src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaWo2ZGcyd3pvMWxmaXBzNWJ4eXVhejcwYW82aDBtdjF0NmlxeTl2YiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l1ugqS4diYIw2AFP2/giphy.gif" alt="">
        <img class="poster" src="https://media.giphy.com/media/3oeSANEusDQDBXa4Pm/giphy.gif" alt="">
    </div>
<!--    <img class="poster" src="https://media.giphy.com/media/3o85g3loeiLcF26OZy/giphy.gif" alt="">-->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cupiditate dicta dignissimos obcaecati perspiciatis quaerat quisquam ullam voluptatum. Deserunt eveniet fuga laborum mollitia quia quo ratione sapiente vero? At, voluptas.</p>
</div>
