/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans');
@import url('https://fonts.googleapis.com/css2?family=Salsa');
@font-face {
    font-family: 'corporate-s';
    src: url("src/assets/CorporateS-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'corporate-s',Helvetica Neue,Helvetica,Arial,sans-serif; }
