.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    background: url("https://cdn.stocksnap.io/img-thumbs/960w/noodles-cooking_30DIV2QY3M.jpg") center/cover no-repeat;
}
.centered-text{
    text-align: center;
    /*border: 10px solid #52CEEB;*/
    padding: 10px;
    width: 100%;
}
.text{
    -webkit-text-stroke: 2px black;
    color: #f5f6ea;
    font-size: 100px;
    text-align: center;
}
.context{
    background-color: white;
    border: 1px solid #ccc;
    width: 90%;
    height: 90%;
    /*margin-right: 10%;*/
    padding: 5px;
    font-size: 30px;
    opacity: 50%;
    overflow: hidden;
}
.script{
    font-size: 40px;
    padding: 10px;
    font-weight: bold;
}
.navbar-icon {
    width: 200px;
}

.body{
    display: flex;
    justify-content: flex-end; /* Align items to the bottom of the container */
    align-items: center; /* Center items horizontally */
    border: 1px solid #ccc; /* Just for visualization */
}
.left, .right{
    flex: 1;
}
.right{
    font-weight: bold;
    text-align: right;
}

.button-start{
    width: 100%;
    height: 10%;
    font-weight: bolder;
}
