<app-navbar></app-navbar>
<mat-stepper>
  <mat-step label="Step 1">
    <p>Put down your name.</p>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 2">
    <p>Put down your password.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 3">
    <p>You're welcome.</p>
  </mat-step>
</mat-stepper>
<app-footer></app-footer>
