<app-navbar></app-navbar>
<div class="calendar-container">
    <mat-card class="demo-inline-calendar-card calendar">
        <app-calendar></app-calendar>
    </mat-card>

    <div class="event-table">
        <p>{{getCalendarView()}}</p>
        <div cdkDropListGroup>
            <div class="container">
                <h2>Plan Table</h2>

                <div
                    cdkDropList
                    [cdkDropListData]="planList"
                    class="example-list"
                    cdkDropListSortingDisabled
                    (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let item of planList" class="example-box" cdkDrag>{{ getRecipeName(item) }}</div>
                </div>
            </div>

            <div class="container">
                <h2>Saved Table</h2>

                <div
                    cdkDropList
                    [cdkDropListData]="favoriteList"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div *ngFor="let item of favoriteList" class="example-box" cdkDrag>{{ getRecipeName(item) }}</div>
                </div>
            </div>
        </div>
        <button (click)="savePlan()" class="custom-button save">Save</button>
    </div>
</div>
<app-footer></app-footer>
